body{
	background-color: white;
	
	margin-bottom: 20px;
	padding-top: 30px;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.siteBorderTop{
	position: fixed;
	top : 0;
	right : 0;
	width : 100%;
	border : 20px solid #000000;
	border-top : none;
}
.siteBorderRight{
	position: fixed;
	top : 0;
	right : 0;
	height : 100%;
	border : 10px solid #000000;
	border-top : none;
}
.siteBorderLeft{
	position: fixed;
	top : 0;
	left: 0;
	height : 100%;
	border : 10px solid #000000;
	border-top : none;
}
.siteBorderBottom{
	position: fixed;
	bottom : 0;
	right : 0;
	width : 100%;
	border : 20px solid #000000;
	border-top : none;
}

.espace {
	text-align: center;
}

#titleHome {
	font-family: "Cormorant Garamond";
	font-weight: 700;
}

#paragrapheHome {
	margin: 30px;
	font-family: "Cormorant Garamond";
	font-weight: 300;
	font-size: 20px;
}
#photDescritpion {
	font-family: "Cormorant Garamond";
	font-size: 20px;
	font-weight: 100;
	text-align: left;
}

img {
	width: 100%;
	height: auto;
}

#agmic{
	max-width: 400px;
}

@media (max-width: 768px) {
	img {
		width: auto;
		height: 200px;
	}

	#tech {
		display: flex;
		justify-content: center;
	}

	body {
		background-color: green;
		border-top: 10px solid #000000;
	}

	.espace {
		margin: 20px;
	}
	.siteBorderTop{
		border : 5px solid #000000;
	}	
	.siteBorderRight{
		border : 5px solid #000000;
	}	
	.siteBorderLeft{
		border : 5px solid #000000;
	}
	.siteBorderBottom{
		border : 5px solid #000000;
	}

}
